@font-face {
  font-family: 'Cocogoose Thin';
  src: url("../fonts/cocogoose/CocogoosePro-Thin.woff2") format("woff2"), url("../fonts/cocogoose/CocogoosePro-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Cocogoose Thin';
  src: url("../fonts/cocogoose/CocogoosePro-ThinItalic.woff2") format("woff2"), url("../fonts/cocogoose/CocogoosePro-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Cocogoose Ultra Light';
  src: url("../fonts/cocogoose/COCOGOOSE-UltraLight.woff2") format("woff2"), url("../fonts/cocogoose/COCOGOOSE-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Cocogoose Ultra Light Italic';
  src: url("../fonts/cocogoose/CocogoosePro-UltraLightItalic.woff2") format("woff2"), url("../fonts/cocogoose/CocogoosePro-UltraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Cocogoose Light';
  src: url("../fonts/cocogoose/Cocogoose-Light.woff2") format("woff2"), url("../fonts/cocogoose/Cocogoose-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Cocogoose Light Italic';
  src: url("../fonts/cocogoose/CocogoosePro-LightItalic.woff2") format("woff2"), url("../fonts/cocogoose/CocogoosePro-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Cocogoose SemiLight';
  src: url("../fonts/cocogoose/CocogoosePro-SemiLightItalic.woff2") format("woff2"), url("../fonts/cocogoose/CocogoosePro-SemiLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Cocogoose';
  src: url("../fonts/cocogoose/Cocogoose.woff2") format("woff2"), url("../fonts/cocogoose/Cocogoose.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Cocogoose Italic';
  src: url("../fonts/cocogoose/CocogoosePro-Italic.woff2") format("woff2"), url("../fonts/cocogoose/CocogoosePro-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Cocogoose DemiBold';
  src: url("../fonts/cocogoose/COCOGOOSE-DemiBold.woff2") format("woff2"), url("../fonts/cocogoose/COCOGOOSE-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Nexa Light';
  src: url("../fonts/nexa/NexaLight.woff2") format("woff2"), url("../fonts/nexa/NexaLight.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Nexa NexaBold';
  src: url("../fonts/nexa/NexaBold.woff2") format("woff2"), url("../fonts/nexa/NexaBold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

/* global area - start
==================================================================================================== */
body {
  margin: 0px;
  padding: 0px;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.65;
  font-style: normal;
  color: #404041;
  font-family: "Nexa NexaBold";
  background-color: #F1F1F2;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

::-moz-selection {
  color: #ffffff;
  background-color: #404041; }

::selection {
  color: #ffffff;
  background-color: #404041; }

::-moz-selection {
  color: #ffffff;
  background-color: #404041; }

.container {
  max-width: 1630px; }

.container-fluid {
  padding-left: 30px;
  padding-right: 30px; }

a,
button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-family: "Cocogoose"; }
  a:hover,
  button:hover {
    text-decoration: none; }

button {
  margin: 0px;
  padding: 0px;
  border: none;
  background: none; }
  button:focus {
    outline: none; }

img {
  height: auto;
  max-width: 100%; }

.image-container {
  overflow: hidden;
  position: relative; }

[data-background] {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

h1, h2, h4, h5, h6 {
  color: #404041;
  font-family: "Cocogoose"; }

h3 {
  color: #404041;
  font-family: "Nexa NexaBold"; }



strong, span, small, label, i {
  margin: 0px;
  padding: 0px;
  font-family: "Nexa NexaBold"; }

/* list style settings - start 
================================================== */
.ul-li > ul {
  margin: 0px;
  padding: 0px;
  display: table; }
  .ul-li > ul > li {
    float: left;
    list-style: none;
    display: inline-block; }

.ul-li-block > ul {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: table; }
  .ul-li-block > ul > li {
    width: 100%;
    display: table;
    list-style: none; }

.ul-li-right > ul {
  margin: 0px;
  padding: 0px;
  float: right;
  display: table; }
  .ul-li-right > ul > li {
    float: left;
    list-style: none;
    display: inline-block; }

.ul-li-center > ul {
  padding: 0px;
  margin: 0 auto;
  display: table; }
  .ul-li-center > ul > li {
    float: left;
    list-style: none;
    display: inline-block; }

/* list style settings - end
================================================== */
/* padding - margin setting - start 
================================================== */
.sec-ptb-130 {
  padding: 130px 0px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-60 {
  margin-bottom: 60px; }

/* padding - margin setting - end
================================================== */
/* button style - start
================================================== */
/* button style - end
================================================== */
/* title text - start
================================================== */
.section-title .title-text {
  font-size: 30px;
  font-family: 'Cocogoose'; }

/* title text - end
================================================== */
/* custom colors - start
================================================== */
.bg-default-blue {
  background-color: #296E9E; }

.bg-default-color {
  background-color: #404041; }

.bg-default-black {
  background-color: #404041; }

.bg-default-purple {
  background-color: #743492; }

.bg-deep-gray {
  background-color: #f0f0f0; }

.bg-light-gray {
  background-color: #F1F1F2; }

.text-blue {
  color: #296E9E !important; }

.text-purple {
  color: #743492 !important; }

/* custom colors - end
================================================== */
/* transition - start
================================================== */
a,
button {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

/* transition - end
================================================== */
/* global area - end
==================================================================================================== */
/* header - start
==================================================================================================== */
/* header section - start
================================================== */
.header-section {
  padding: 35px 0px; }
  .header-section .brand-logo > a {
    max-width: 135px; }
  .header-section a, .header-section button {
    line-height: 1;
    font-size: 26px;
    color: #404041; }
  .header-section .btns-group > ul > li {
    margin-right: 20px; }
    .header-section .btns-group > ul > li:last-child {
      margin-right: 0px !important; }
    .header-section .btns-group > ul > li:first-child {
      display: none; }



.main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-menu ul li {
  display: inline-block;
}
.main-menu {
  display: inline-block;
}
.main-menu ul li a {
  color: #fff;
  font-family: "Nexa NexaBold";
  margin-right: 20px;
}


.sd-bar-main {
	/*height: 84vh;*/
	max-height: 55vh;
        overflow: scroll;
	padding-top: 40px;
}


/* header section - end
================================================== */
/* sticky-header - start
================================================== */
.sticky-header {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  position: fixed;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .sticky-header:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    content: '';
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

.sticky-header.stuck::before {
	background-color: #743492;
	-webkit-box-shadow: 0 2px 6px 1px rgba(48, 48, 48, 0.1);
	box-shadow: 0 2px 6px 1px rgba(48, 48, 48, 0.1);
}

.sticky-header.stuck a, .sticky-header.stuck button {
	color: #fff !important;
}

/* sticky-header - end
================================================== */
/* sidebar menu - start
================================================== */
.sidebar-menu-wrapper {
  display: block; }
  .sidebar-menu-wrapper .cart-sidebar {
    z-index: 1;
    width: 100%;
    float: right;
    height: 100vh;
    position: relative;
    overflow-y: scroll;
    padding-left: 100px;
    margin-right: -30px;
    padding-right: 70px;
    padding-bottom: 100px;
    background-color: #743492;
    -webkit-clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    -webkit-transition: 0.6s cubic-bezier(1, 0, 0, 1);
    transition: 0.6s cubic-bezier(1, 0, 0, 1); }
    .sidebar-menu-wrapper .cart-sidebar .mCustomScrollBox {
      overflow: visible !important; }
    .sidebar-menu-wrapper .cart-sidebar .dismiss {
      width: 100%;
      display: none;
      display: block;
      margin-bottom: 30px; }
      .sidebar-menu-wrapper .cart-sidebar .dismiss .close-btn {
        width: 40px;
        height: 40px;
        float: right;
        font-size: 20px;
        cursor: pointer;
        line-height: 42px;
        text-align: center;
        border-radius: 3px;
        display: inline-block;
        color: #743492;
        background-color: #ffffff; }
    .sidebar-menu-wrapper .cart-sidebar .title-text {
      color: #ffffff;
      font-size: 30px;
      margin-bottom: 60px;
      padding-bottom: 15px;
      border-bottom: 1px dashed #ffffff; }
    .sidebar-menu-wrapper .cart-sidebar .cart-item {
      margin-bottom: 30px; }
      .sidebar-menu-wrapper .cart-sidebar .cart-item h4 {
        color: #ffffff;
        font-size: 30px;
        margin-bottom: 15px;
        font-family: 'Nexa NexaBold'; }
      .sidebar-menu-wrapper .cart-sidebar .cart-item > ul {
        width: 100%;
        padding-left: 30px; }
        .sidebar-menu-wrapper .cart-sidebar .cart-item > ul > li {
          width: 33.333%;
          color: #ffffff;
          font-family: 'Nexa Light'; }
    .sidebar-menu-wrapper .cart-sidebar .total-amount {
      color: #ffffff;
      padding-top: 15px;
      border-top: 1px dashed #ffffff; }
      .sidebar-menu-wrapper .cart-sidebar .total-amount p {
        font-size: 30px; }
        .sidebar-menu-wrapper .cart-sidebar .total-amount p strong {
          float: right;
          line-height: 1;
          font-size: 54px; }
    .sidebar-menu-wrapper .cart-sidebar .checkout-btn {
      width: 100%;
      height: 70px;
      display: block;
      line-height: 70px;
      text-align: center;
      color: #404041;
      background-color: #ffffff;
      -webkit-clip-path: polygon(3% 0%, 100% 0%, 100% 100%, 0% 100%);
      clip-path: polygon(3% 0%, 100% 0%, 100% 100%, 0% 100%); }
  .sidebar-menu-wrapper .cart-sidebar.active {
    right: 0px; }
  .sidebar-menu-wrapper .overlay {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .sidebar-menu-wrapper .overlay.active {
    opacity: 1;
    display: block; }

.cart-sidebar::-webkit-scrollbar {
  width: 0px; }
.cart-page {
	overflow: hidden;
}

/* sidebar menu - end
================================================== */
/* header - end
==================================================================================================== */
/* footer section - start
==================================================================================================== */
/* footer section - end
==================================================================================================== */
/* breadcrumb section - start
==================================================================================================== */
.breadcrumb-section {
  height: 580px;
  padding: 30px 0px; }
  .breadcrumb-section h1 {
    line-height: 1;
    font-size: 66px; }
  .breadcrumb-section .amount-text {
    width: 100%;
    display: block;
    font-size: 72px;
    text-align: center; }
  .breadcrumb-section .form-item input {
    height: 45px;
    border: none;
    outline: none;
    font-size: 24px;
    padding: 0px 20px;
    text-align: center;
    border-radius: 45px;
    background-color: #ffffff; }

/* breadcrumb section - end
==================================================================================================== */
/* home page - start
==================================================================================================== */
/* product section - start
================================================== */
.products-wrapper {
  height: 751px;
  overflow-y: scroll; }
  .products-wrapper::-webkit-scrollbar {
    width: 0px; }

.small-product {
  margin-top: 25px;
  margin-right: 25px;
  position: relative;
  margin-bottom: 80px; }
  .small-product:last-child {
    margin-bottom: 0px !important; }
  .small-product .remove-btn {
    top: -23px;
    right: -23px;
    line-height: 1;
    font-size: 48px;
    position: absolute;
    color: #404041; }
  .small-product .item-content {
    padding: 30px 0px; }
    .small-product .item-content h3 {
      font-size: 30px; }
    .small-product .item-content p {
      line-height: 1;
      font-size: 30px;
      font-family: 'Nexa NexaBold'; }
    .small-product .item-content span {
      display: block;
      line-height: 1;
      font-size: 30px;
      font-family: 'Nexa NexaBold'; }
  .small-product strong {
    line-height: 1;
    font-size: 72px;
    font-family: 'Nexa NexaBold'; }
  .small-product .btns-group {
    top: 50%;
    right: 30px;
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    .small-product .btns-group > ul > li {
      width: 55px;
      height: 55px;
      text-align: center;
      margin-bottom: 30px; }
      .small-product .btns-group > ul > li:last-child {
        margin: 0px !important; }
      .small-product .btns-group > ul > li > a {
        opacity: .7;
        width: 100%;
        height: 100%;
        color: #ffffff;
        display: block;
        font-size: 10px;
        line-height: 55px;
        border-radius: 100%;
        background-color: #743492; }
        .small-product .btns-group > ul > li > a:hover {
          opacity: 1; }

/* product section - end
================================================== */
/* section - start
================================================== */
.checkout-section {
  padding: 40px 0px; }
  .checkout-section .checkout-item h3 {
    height: 50px;
    color: #ffffff;
    font-size: 24px;
    min-width: 350px;
    padding: 0px 30px;
    line-height: 55px;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 45px;
    display: inline-block; 
    }
  .checkout-section .checkout-item input {
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    background-color: transparent;
    border-bottom: 1px dashed #404041; }
  .checkout-section .checkout-item ul {
    width: 100%; }
    .checkout-section .checkout-item ul > li {
      width: 33.333%; }
      .checkout-section .checkout-item ul > li span {
        display: block;
        padding: 0px 30px; }
  .checkout-section .total-amount {
    padding-top: 40px;
    position: relative;
    padding-left: 60px; }
    .checkout-section .total-amount:before {
      top: 0px;
      left: 0px;
      bottom: 0px;
      width: 1px;
      content: '';
      line-height: 1;
      position: absolute;
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg);
      background-color: #404041; }
    .checkout-section .total-amount h4 {
      font-size: 42px; }
    .checkout-section .total-amount strong {
      float: right;
      font-size: 140px;
      display: inline-block;
      border-bottom: 1px dashed #404041;
      -webkit-clip-path: polygon(5% 0, 100% 0%, 100% 100%, 0% 100%);
      clip-path: polygon(5% 0, 100% 0%, 100% 100%, 0% 100%); }

/* section - end
================================================== */
/* home page - end
==================================================================================================== */
/*  ====================================================================================================
1 - media screen and (max-width: 1440px) - start
==================================================================================================== */
@media screen and (max-width: 1810px) {
  .small-product .item-content h3 {
    font-size: 24px; }
  .small-product .item-content p {
    font-size: 20px; }
  .small-product .item-content span {
    font-size: 22px; }
  .small-product strong {
    font-size: 48px; }
  .small-product .btns-group > ul > li {
    width: 50px;
    height: 50px;
    margin-bottom: 15px; }
  .small-product .btns-group > ul > li > a {
    line-height: 50px; }
  .products-wrapper {
    height: 680px; } }

@media screen and (max-width: 1440px) {
  body {
    font-size: 24px; }
  .sidebar-menu-wrapper .cart-sidebar .title-text {
    font-size: 30px;
    margin-bottom: 30px; }
  .sidebar-menu-wrapper .cart-sidebar .cart-item h4 {
    font-size: 24px; }
  .sidebar-menu-wrapper .cart-sidebar .cart-item > ul > li {
    width: auto;
    margin-right: 20px; }
    .sidebar-menu-wrapper .cart-sidebar .cart-item > ul > li:last-child {
      margin-right: 0px !important; }
  .sidebar-menu-wrapper .cart-sidebar .cart-item > ul > li {
    width: auto;
    font-size: 20px;
    margin-right: 20px; }
    .sidebar-menu-wrapper .cart-sidebar .cart-item > ul > li:last-child {
      margin: 0px !important; }
  .sidebar-menu-wrapper .cart-sidebar .total-amount p {
    font-size: 24px; }
  .sidebar-menu-wrapper .cart-sidebar .total-amount p strong {
    font-size: 36px; }
  .sidebar-menu-wrapper .cart-sidebar .checkout-btn {
    height: 50px;
    line-height: 55px; }
  .small-product {
    margin-bottom: 50px; }
  .breadcrumb-section h1 {
    font-size: 42px; }
  .breadcrumb-section .amount-text {
    font-size: 48px; }
  .checkout-section .checkout-item ul > li {
    width: 50%; }
  .checkout-section .total-amount h4 {
    font-size: 24px; }
  .checkout-section .total-amount strong {
    font-size: 90px; }
  .breadcrumb-section {
    height: 470px;
    padding: 30px 0px; } }

/* ====================================================================================================
1 - media screen and (max-width: 1440px) - end
==================================================================================================== */
/*  ====================================================================================================
2 - media screen and (max-width: 1280px) - start
==================================================================================================== */
@media screen and (max-width: 1280px) {
  .small-product .remove-btn {
    top: -15px;
    right: -15px;
    font-size: 30px; }
  .small-product .item-content {
    padding: 15px 0px; }
  .small-product .item-content h3 {
    font-size: 20px; }
  .small-product .item-content p {
    font-size: 18px;
    margin-bottom: 10px; }
  .small-product .item-content span {
    font-size: 20px; }
  .small-product strong {
    font-size: 30px; }
  .small-product .btns-group {
    right: 15px; }
  .small-product .btns-group > ul > li {
    width: 45px;
    height: 45px;
    margin-bottom: 10px; }
  .small-product .btns-group > ul > li > a {
    font-size: 8px;
    line-height: 45px; }
  .small-product {
    margin-top: 15px;
    margin-right: 15px; } }

/* ====================================================================================================
2 - media screen and (max-width: 1280px) - end
==================================================================================================== */
/*  ====================================================================================================
3 - media screen and (max-width: 1199px) - start
==================================================================================================== */
@media screen and (max-width: 1199px) {
  .breadcrumb-section h1 {
    font-size: 30px; }
  .breadcrumb-section .amount-text {
    font-size: 36px; }
  .breadcrumb-section .form-item input {
    font-size: 20px; }
  .checkout-section .checkout-item ul > li {
    width: 100%;
    margin-bottom: 15px; }
  .checkout-section .checkout-item ul > li span {
    width: 100%;
    text-align: center; }
  .checkout-section .total-amount strong {
    float: none;
    font-size: 72px; } }

/* ====================================================================================================
3 - media screen and (max-width: 1199px) - end
==================================================================================================== */
/* ====================================================================================================
4 - media screen and (max-width: 991px) - start
==================================================================================================== */
@media screen and (max-width: 991px) {
  .sidebar-menu-wrapper .cart-sidebar {
    top: 0px;
    right: -355px;
    bottom: 0px;
    margin: 0px;
    width: 350px;
    z-index: 9999;
    position: fixed;
    padding: 40px 30px;
    padding-left: 60px; }
  .sidebar-menu-wrapper .cart-sidebar .title-text {
    font-size: 20px; }
  .sidebar-menu-wrapper .cart-sidebar .cart-item h4 {
    line-height: 1;
    font-size: 20px;
    margin-bottom: 10px; }
  .sidebar-menu-wrapper .cart-sidebar .cart-item > ul > li {
    font-size: 16px; }
  .sidebar-menu-wrapper .cart-sidebar .total-amount p {
    font-size: 20px; }
  .sidebar-menu-wrapper .cart-sidebar .total-amount p strong {
    font-size: 28px; }
  .sidebar-menu-wrapper .cart-sidebar .checkout-btn {
    height: 50px;
    font-size: 18px;
    line-height: 52px; }
  .sidebar-menu-wrapper .cart-sidebar .dismiss {
    display: inline-block; 
  }
  .header-section .btns-group > ul > li:first-child {
    display: inline-block; }
  .cart-sidebar.active {
    right: 0px; }
  .products-wrapper {
    height: auto;
    overflow: visible; }
  .header-section a, .header-section button {
    color: #404041 !important; }
  .breadcrumb-section .amount-text {
    font-size: 36px;
    text-align: left; }
  .checkout-section .checkout-item {
    text-align: center; }
  .checkout-section .total-amount {
    padding: 0px;
    text-align: center; }
    .checkout-section .total-amount:before {
      display: none; } }

/* ====================================================================================================
4 - media screen and (max-width: 991px) - end
==================================================================================================== */
/* ====================================================================================================
5 - media screen and (max-width: 767px) - start
==================================================================================================== */
@media screen and (max-width: 767px) {
  .small-product .image-container > img {
    width: 100%;
    display: block; }
  .small-product .remove-btn {
    z-index: 2; }
  .small-product {
    margin: 0px;
    margin-bottom: 30px;
    text-align: center;
    padding-bottom: 20px; }
  .small-product .item-content {
    padding: 20px; }
  .small-product strong {
    width: 100%;
    display: block;
    text-align: center; }
  .header-section {
    padding: 20px 0px; }
  .small-product .btns-group > ul > li > a {
    opacity: 1; }
  .breadcrumb-section {
    text-align: center; }
  .breadcrumb-section .amount-text {
    font-size: 36px;
    text-align: center;
    margin: 20px 0px; } }

/* ====================================================================================================
5 - media screen and (max-width: 767px) - end
==================================================================================================== */
/* ====================================================================================================
6 - media screen and (max-width: 680px) - start
==================================================================================================== */
/* ====================================================================================================
6 - media screen and (max-width: 680px) - end
==================================================================================================== */
/* ====================================================================================================
7 - media screen and (max-width: 580px) - start
==================================================================================================== */
@media screen and (max-width: 580px) {
  .section-title .title-text {
    font-size: 20px; }
  .header-section .brand-logo > a {
    max-width: 100px; }
  .header-section a,
  .header-section button {
    font-size: 16px; }
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px; }
  .checkout-section .checkout-item h3 {
    min-width: auto; } }

/* ====================================================================================================
7 - media screen and (max-width: 580px) - end
==================================================================================================== */
/* ====================================================================================================
8 - media screen and (max-width: 480px) - start
==================================================================================================== */
@media screen and (max-width: 480px) {
  .header-section {
    padding: 15px 0px; }
  .header-section .btns-group > ul > li {
    margin-right: 8px; }
  .header-section a, .header-section button {
    font-size: 14px; }
  .small-product .btns-group {
    top: 28%;
    right: 15px; } }

/* ====================================================================================================
8 - media screen and (max-width: 480px) - end
==================================================================================================== */
/* ====================================================================================================
9 - media screen and (max-width: 320px) - start
==================================================================================================== */
/* ====================================================================================================
9 - media screen and (max-width: 320px) - end
==================================================================================================== */

.menu-close {
	display: none;
}
/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1480px) {
.main-menu ul li a {
	font-size: 16px;
	margin-right: 9px;
}
    
.header-section a, .header-section button {
	
	font-size: 16px;
	
}
    
    
}
/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
  
       .main-menu {
	position: fixed;
	height: 100%;
	left: 0;
	width: 280px;
	background: #fff;
	top: 0;
	padding: 25px;
	-webkit-transition: .3s;
	transition: .3s;
	left: -100%;
}
.header-section.ck-header a, .header-section.ck-header button {
	color: #fff !important;
}  
   
 
.main-menu ul li {
  display: block;
}
.header-section.ck-header .main-menu ul li a {
  display: block;
  margin: 0;
  color: #666 !important;
  padding: 10px;
}
.main-menu {
  /* margin-top: ; */
  padding-top: 40px;
}   
 .header-section.ck-header .main-menu button {
	color: #666 !important;
	position: absolute;
	right: 25px;
	top: 11px;
	font-size: 25px;
	cursor: pointer;
}   
.menu-close {
	display: block;
}
    
.main-menu.active {
	left: 0;
} 
.header-section .btns-group > ul > li:first-child {
	display: block;
} 
    
.header-section.crt-header .main-menu button {
	color: #666 !important;
	position: absolute;
	right: 25px;
	top: 11px;
	font-size: 25px;
	cursor: pointer;
}   
.products-wrapper {
	height: 750px;
} 
.crt-header .main-menu ul li a {
	color: #666 !important;
} 
}


/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    
    .cart-page {
	overflow: inherit;
}
    .header-section.crt-header .main-menu button {
	color: #666 !important;
	position: absolute;
	right: 25px;
	top: 11px;
	font-size: 25px;
	cursor: pointer;
}  
    
    .main-menu {
	position: fixed;
	height: 100%;
	left: 0;
	width: 280px;
	background: #fff;
	top: 0;
	padding: 25px;
	-webkit-transition: .3s;
	transition: .3s;
	left: -100%;
}
.header-section.ck-header a, .header-section.ck-header button {
	color: #fff !important;
}  
   
 
.main-menu ul li {
  display: block;
}
.header-section.ck-header .main-menu ul li a {
  display: block;
  margin: 0;
  color: #666 !important;
  padding: 10px;
}
.main-menu {
  /* margin-top: ; */
  padding-top: 40px;
}   
 .header-section.ck-header .main-menu button {
	color: #666 !important;
	position: absolute;
	right: 25px;
	top: 11px;
	font-size: 25px;
	cursor: pointer;
}   
.menu-close {
	display: block;
}
    
.main-menu.active {
	left: 0;
} 
.crt-header .main-menu ul li a {
	color: #666;
}
.products-wrapper {
	height: 480px;
}  
    
}



/* SM Small Device :320px. */
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .crt-header .main-menu ul li a {
	color: #666;
}
    .cart-page {
	overflow: inherit;
}
.main-menu {
	position: fixed;
	height: 100%;
	left: 0;
	width: 280px;
	background: #fff;
	top: 0;
	padding: 25px;
	-webkit-transition: .3s;
	transition: .3s;
	left: -100%;
}
.header-section.ck-header a, .header-section.ck-header button {
	color: #fff !important;
}  
   
 
.main-menu ul li {
  display: block;
}
.header-section.ck-header .main-menu ul li a {
  display: block;
  margin: 0;
  color: #666 !important;
  padding: 10px;
}
.main-menu {
  /* margin-top: ; */
  padding-top: 40px;
}   
 .header-section.ck-header .main-menu button {
	color: #666 !important;
	position: absolute;
	right: 25px;
	top: 11px;
	font-size: 25px;
	cursor: pointer;
}   
.menu-close {
	display: block;
}
    
.main-menu.active {
	left: 0;
} 
    
    
.header-section.crt-header .main-menu button {
	color: #666 !important;
	position: absolute;
	right: 25px;
	top: 11px;
	font-size: 25px;
	cursor: pointer;
}   
    
}

