/* breadcrumb section - start
==================================================================================================== */
.breadcrumb-section {
	height: 1180px;
	padding: 30px 0px;
	h1 {
		line-height: 1;
		font-size: 66px;
	}
	.amount-text {
		width: 100%;
		display: block;
		font-size: 72px;
		text-align: center;
	}

	.form-item {
		input {
			height: 45px;
			border: none;
			outline: none;
			font-size: 24px;
			padding: 0px 20px;
			text-align: center;
			border-radius: 45px;
			background-color: #ffffff;
		}
	}
}
/* breadcrumb section - end
==================================================================================================== */
