@font-face {
    font-family: 'Cocogoose Thin';
    src: url('../fonts/cocogoose/CocogoosePro-Thin.woff2') format('woff2'),
    url('../fonts/cocogoose/CocogoosePro-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Cocogoose Thin';
    src: url('../fonts/cocogoose/CocogoosePro-ThinItalic.woff2') format('woff2'),
    url('../fonts/cocogoose/CocogoosePro-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}


@font-face {
    font-family: 'Cocogoose Ultra Light';
    src: url('../fonts/cocogoose/COCOGOOSE-UltraLight.woff2') format('woff2'),
    url('../fonts/cocogoose/COCOGOOSE-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Cocogoose Ultra Light Italic';
    src: url('../fonts/cocogoose/CocogoosePro-UltraLightItalic.woff2') format('woff2'),
    url('../fonts/cocogoose/CocogoosePro-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}


@font-face {
    font-family: 'Cocogoose Light';
    src: url('../fonts/cocogoose/Cocogoose-Light.woff2') format('woff2'),
    url('../fonts/cocogoose/Cocogoose-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Cocogoose Light Italic';
    src: url('../fonts/cocogoose/CocogoosePro-LightItalic.woff2') format('woff2'),
    url('../fonts/cocogoose/CocogoosePro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Cocogoose SemiLight';
    src: url('../fonts/cocogoose/CocogoosePro-SemiLightItalic.woff2') format('woff2'),
    url('../fonts/cocogoose/CocogoosePro-SemiLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: 'Cocogoose';
    src: url('../fonts/cocogoose/Cocogoose.woff2') format('woff2'),
    url('../fonts/cocogoose/Cocogoose.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Cocogoose Italic';
    src: url('../fonts/cocogoose/CocogoosePro-Italic.woff2') format('woff2'),
    url('../fonts/cocogoose/CocogoosePro-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: 'Cocogoose DemiBold';
    src: url('../fonts/cocogoose/COCOGOOSE-DemiBold.woff2') format('woff2'),
    url('../fonts/cocogoose/COCOGOOSE-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Nexa Light';
    src: url('../fonts/nexa/NexaLight.woff2') format('woff2'),
    url('../fonts/nexa/NexaLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Nexa NexaBold';
    src: url('../fonts/nexa/NexaBold.woff2') format('woff2'),
    url('../fonts/nexa/NexaBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}