/* header - start
==================================================================================================== */

/* header section - start
================================================== */
.header-section {
	padding: 35px 0px;
	.brand-logo {
		>a {
			max-width: 135px;
		}
	}

	a,button {
		line-height: 1;
		font-size: 26px;
		color: $default-color;
	}

	.btns-group {
		>ul {
			>li {
				margin-right: 20px;
				&:last-child {
					margin-right: 0px !important;
				}
				&:first-child {
					display: none;
				}
			}
		}
	}
}
/* header section - end
================================================== */



/* sticky-header - start
================================================== */
.sticky-header {
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 999;
	position: fixed;
	transition: $default-transition;
	&:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		content: '';
		position: absolute;
		transition: $default-transition;
	}
}
.sticky-header.stuck {
	&:before {
		background-color: #ffffff;
		box-shadow: 0 2px 6px 1px rgba(48,48,48,0.1);
	}
	a,button {
		color: $default-color !important;
	}
}
/* sticky-header - end
================================================== */



/* sidebar menu - start
================================================== */
.sidebar-menu-wrapper {
	display: block;

	.cart-sidebar {
		z-index: 1;
		width: 100%;
		float: right;
		height: 100vh;
		position: relative;
		overflow-y: scroll;
		padding-left: 100px;
		margin-right: -30px;
		padding-right: 70px;
		padding-bottom: 100px;
		background-color: $default-purple;
		clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
		transition: 0.6s cubic-bezier(1, 0, 0, 1);
		.mCustomScrollBox {overflow: visible!important;}
		.dismiss {
			width: 100%;
			display: none;
			display: block;
			margin-bottom: 30px;
			.close-btn {
				width: 40px;
				height: 40px;
				float: right;
				font-size: 20px;
				cursor: pointer;
				line-height: 42px;
				text-align: center;
				border-radius: 3px;
				display: inline-block;
				color: $default-purple;
				background-color: #ffffff;
			}
		}

		.title-text {
			color: #ffffff;
			font-size: 30px;
			margin-bottom: 60px;
			padding-bottom: 15px;
			border-bottom: 1px dashed #ffffff;
		}

		.cart-item {
			margin-bottom: 30px;
			h4 {
				color: #ffffff;
				font-size: 30px;
				margin-bottom: 15px;
				font-family: 'Nexa NexaBold';
			}
			>ul {
				width: 100%;
				padding-left: 30px;
				>li {
					width: 33.333%;
					color: #ffffff;
					font-family: 'Nexa Light';
				}
			}
		}

		.total-amount {
			color: #ffffff;
			padding-top: 15px;
			border-top: 1px dashed #ffffff;
			p {
				font-size: 30px;
				strong {
					float: right;
					line-height: 1;
					font-size: 54px;
				}
			}
		}

		.checkout-btn {
			width: 100%;
			height: 70px;
			display: block;
			line-height: 70px;
			text-align: center;
			color: $default-black;
			background-color: #ffffff;
			clip-path: polygon(3% 0%, 100% 0%, 100% 100%, 0% 100%);
		}

	}

	.cart-sidebar.active {
		right: 0px;
	}

	.overlay {
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		opacity: 0;
		z-index: 999;
		width: 100vw;
		height: 100vh;
		display: none;
		position: fixed;
		background: rgba(0, 0, 0, 0.7);
		transition: $default-transition;
	}
	.overlay.active {
		opacity: 1;
		display: block;
	}
}
.cart-sidebar::-webkit-scrollbar {width: 0px;}
/* sidebar menu - end
================================================== */

/* header - end
==================================================================================================== */