/* home page - start
==================================================================================================== */

/* product section - start
================================================== */
.products-wrapper {
	height: 751px;
	overflow-y: scroll;
	&::-webkit-scrollbar {width: 0px;}
}
.small-product {
	margin-top: 25px;
	margin-right: 25px;
	position: relative;
	margin-bottom: 80px;
	&:last-child {
		margin-bottom: 0px !important;
	}
	.remove-btn {
		top: -23px;
		right: -23px;
		line-height: 1;
		font-size: 48px;
		position: absolute;
		color: $default-color;
	}
	.item-content {
		padding: 30px 0px;
		h3 {
			font-size: 30px;
		}
		p {
			line-height: 1;
			font-size: 30px;
			font-family: 'Nexa NexaBold';
		}
		span {
			display: block;
			line-height: 1;
			font-size: 30px;
			font-family: 'Nexa NexaBold';
		}
	}
	strong {
		line-height: 1;
		font-size: 72px;
		font-family: 'Nexa NexaBold';
	}
	.btns-group {
		top: 50%;
		right: 30px;
		position: absolute;
		transform: translateY(-50%);
		>ul {
			>li {
				width: 55px;
				height: 55px;
				text-align: center;
				margin-bottom: 30px;
				&:last-child {
					margin: 0px !important;
				}
				>a {
					opacity: .7;
					width: 100%;
					height: 100%;
					color: #ffffff;
					display: block;
					font-size: 10px;
					line-height: 55px;
					border-radius: 100%;
					background-color: $default-purple;
					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}
}
/* product section - end
================================================== */



/* section - start
================================================== */
.checkout-section {
	padding: 40px 0px;
	.checkout-item {
		h3 {
			height: 50px;
			color: #ffffff;
			font-size: 24px;
			min-width: 350px;
			padding: 0px 30px;
			line-height: 55px;
			text-align: center;
			margin-bottom: 15px;
			border-radius: 45px;
			display: inline-block;
		}
		input {
			width: 100%;
			border: none;
			outline: none;
			text-align: center;
			background-color: transparent;
			border-bottom: 1px dashed $default-color;
		}

		ul {
			width: 100%;
			>li {
				width: 33.333%;
				span {
					display: block;
					padding: 0px 30px;
				}
			}
		}
	}

	.total-amount {
		padding-top: 40px;
		position: relative;
		padding-left: 60px;
		&:before {
			top: 0px;
			left: 0px;
			bottom: 0px;
			width: 1px;
			content: '';
			line-height: 1;
			position: absolute;
			transform: rotate(15deg);
			background-color: $default-color;
		}
		h4 {
			font-size: 42px;
		}
		strong {
			float: right;
			font-size: 140px;
			display: inline-block;
			border-bottom: 1px dashed $default-color;
			clip-path: polygon(5% 0, 100% 0%, 100% 100%, 0% 100%);
		}
	}
}
/* section - end
================================================== */

/* home page - end
==================================================================================================== */