/* global area - start
==================================================================================================== */
body {
  margin: 0px;
  padding: 0px;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.65;
  font-style: normal;
  color: $default-color;
  font-family: $body-font;
  background-color: $light-gray;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

::selection {
  color: #ffffff;
  background-color: $default-black;
}

::-moz-selection {
  color: #ffffff;
  background-color: $default-black;
}

.container {
  max-width: 1630px;
}
.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

a,
button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-family: $heading-font;
  &:hover {
    text-decoration: none;
  }
}
button {
  margin: 0px;
  padding: 0px;
  border: none;
  background: none;
  &:focus {
    outline: none;
  }
}

img {
  height: auto;
  max-width: 100%;
}
.image-container {
  overflow: hidden;
  position: relative;
}
[data-background] {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

h1,h2,h3,h4,h5,h6 {
  color: $default-black;
  font-family: $heading-font;
}

strong,span,small,label,i {
  margin: 0px;
  padding: 0px;
  font-family: $body-font;
}



/* list style settings - start 
================================================== */
.ul-li {
  >ul {
    margin: 0px;
    padding: 0px;
    display: table;
    >li {
      float: left;
      list-style: none;
      display: inline-block;
    }
  }
}

.ul-li-block {
  >ul {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: table;
    >li {
      width: 100%;
      display: table;
      list-style: none;
    }
  }
}

.ul-li-right {
  >ul {
    margin: 0px;
    padding: 0px;
    float: right;
    display: table;
    >li {
      float: left;
      list-style: none;
      display: inline-block;
    }
  }
}

.ul-li-center {
  >ul {
    padding: 0px;
    margin: 0 auto;
    display: table;
    >li {
      float: left;
      list-style: none;
      display: inline-block;
    }
  }
}
/* list style settings - end
================================================== */



/* padding - margin setting - start 
================================================== */
.sec-ptb-130 {padding: 130px 0px;}

.mb-15 {margin-bottom: 15px;}
.mb-30 {margin-bottom: 30px;}
.mb-60 {margin-bottom: 60px;}
/* padding - margin setting - end
================================================== */



/* button style - start
================================================== */
.btn {}
/* button style - end
================================================== */



/* title text - start
================================================== */
.section-title {
  .title-text {
    font-size: 30px;
    font-family: 'Cocogoose';
  }
}
/* title text - end
================================================== */



/* custom colors - start
================================================== */
.bg-default-blue {background-color: $default-blue;}
.bg-default-color {background-color: $default-color;}
.bg-default-black {background-color: $default-black;}
.bg-default-purple {background-color: $default-purple;}

.bg-deep-gray {background-color: $deep-gray;}
.bg-light-gray {background-color: $light-gray;}

.text-blue {color: $default-blue !important;}
.text-purple {color: $default-purple !important;}
/* custom colors - end
================================================== */



/* transition - start
================================================== */
a,
button {
  transition: $default-transition;
}
/* transition - end
================================================== */
/* global area - end
==================================================================================================== */