/*  ====================================================================================================
1 - media screen and (max-width: 1440px) - start
==================================================================================================== */

@media screen and (max-width: 1810px) {
	.small-product .item-content h3 {
		font-size: 24px;
	}
	.small-product .item-content p {
		font-size: 20px;
	}
	.small-product .item-content span {
		font-size: 22px;
	}
	.small-product strong {
		font-size: 48px;
	}
	.small-product .btns-group > ul > li {
		width: 50px;
		height: 50px;
		margin-bottom: 15px;
	}
	.small-product .btns-group > ul > li > a {
		line-height: 50px;
	}

	.products-wrapper {
		height: 680px;
	}
}

@media screen and (max-width: 1440px) {

	body {
		font-size: 24px;
	}

	.sidebar-menu-wrapper .cart-sidebar .title-text {
		font-size: 30px;
		margin-bottom: 30px;
	}
	.sidebar-menu-wrapper .cart-sidebar .cart-item h4 {
		font-size: 24px;
	}

	.sidebar-menu-wrapper .cart-sidebar .cart-item > ul > li {
		width: auto;
		margin-right: 20px;
		&:last-child {
			margin-right: 0px !important;
		}
	}
	.sidebar-menu-wrapper .cart-sidebar .cart-item > ul > li {
		width: auto;
		font-size: 20px;
		margin-right: 20px;
		&:last-child {
			margin: 0px !important;
		}
	}
	.sidebar-menu-wrapper .cart-sidebar .total-amount p {
		font-size: 24px;
	}
	.sidebar-menu-wrapper .cart-sidebar .total-amount p strong {
		font-size: 36px;
	}
	.sidebar-menu-wrapper .cart-sidebar .checkout-btn {
		height: 50px;
		line-height: 55px;
	}
	.small-product {
		margin-bottom: 50px;
	}

	.breadcrumb-section h1 {
		font-size: 42px;
	}
	.breadcrumb-section .amount-text {
		font-size: 48px;
	}
	.checkout-section .checkout-item ul > li {
		width: 50%;
	}
	.checkout-section .total-amount h4 {
		font-size: 24px;
	}
	.checkout-section .total-amount strong {
		font-size: 90px;
	}
	.breadcrumb-section {
		height: 470px;
		padding: 30px 0px;
	}

}

/* ====================================================================================================
1 - media screen and (max-width: 1440px) - end
==================================================================================================== */





/*  ====================================================================================================
2 - media screen and (max-width: 1280px) - start
==================================================================================================== */

@media screen and (max-width: 1280px) {

	.small-product .remove-btn {
		top: -15px;
		right: -15px;
		font-size: 30px;
	}
	.small-product .item-content {
		padding: 15px 0px;
	}
	.small-product .item-content h3 {
		font-size: 20px;
	}
	.small-product .item-content p {
		font-size: 18px;
		margin-bottom: 10px;
	}
	.small-product .item-content span {
		font-size: 20px;
	}
	.small-product strong {
		font-size: 30px;
	}
	.small-product .btns-group {
		right: 15px;
	}
	.small-product .btns-group > ul > li {
		width: 45px;
		height: 45px;
		margin-bottom: 10px;
	}
	.small-product .btns-group > ul > li > a {
		font-size: 8px;
		line-height: 45px;
	}
	.small-product {
		margin-top: 15px;
		margin-right: 15px;
	}

}

/* ====================================================================================================
2 - media screen and (max-width: 1280px) - end
==================================================================================================== */





/*  ====================================================================================================
3 - media screen and (max-width: 1199px) - start
==================================================================================================== */

@media screen and (max-width: 1199px) {

	.breadcrumb-section h1 {
		font-size: 30px;
	}
	.breadcrumb-section .amount-text {
		font-size: 36px;
	}
	.breadcrumb-section .form-item input {
		font-size: 20px;
	}

	.checkout-section .checkout-item ul > li {
		width: 100%;
		margin-bottom: 15px;
	}
	.checkout-section .checkout-item ul > li span {
		width: 100%;
		text-align: center;
	}
	.checkout-section .total-amount strong {
		float: none;
		font-size: 72px;
	}

}

/* ====================================================================================================
3 - media screen and (max-width: 1199px) - end
==================================================================================================== */





/* ====================================================================================================
4 - media screen and (max-width: 991px) - start
==================================================================================================== */

@media screen and (max-width: 991px) {

	.sidebar-menu-wrapper .cart-sidebar {
		top: 0px;
		right: -355px;
		bottom: 0px;
		margin: 0px;
		width: 350px;
		z-index: 9999;
		position: fixed;
		padding: 40px 30px;
		padding-left: 60px;
	}
	.sidebar-menu-wrapper .cart-sidebar .title-text {
		font-size: 20px;
	}
	.sidebar-menu-wrapper .cart-sidebar .cart-item h4 {
		line-height: 1;
		font-size: 20px;
		margin-bottom: 10px;
	}
	.sidebar-menu-wrapper .cart-sidebar .cart-item > ul > li {
		font-size: 16px;
	}
	.sidebar-menu-wrapper .cart-sidebar .total-amount p {
		font-size: 20px;
	}
	.sidebar-menu-wrapper .cart-sidebar .total-amount p strong {
		font-size: 28px;
	}
	.sidebar-menu-wrapper .cart-sidebar .checkout-btn {
		height: 50px;
		font-size: 18px;
		line-height: 52px;
	}
	.sidebar-menu-wrapper .cart-sidebar .dismiss {
		display: inline-block;
	}
	.header-section .btns-group > ul > li:first-child {
		display: inline-block;
	}
	.cart-sidebar.active {
		right: 0px;
	}

	.products-wrapper {
		height: auto;
		overflow: visible;
	}

	.header-section a, .header-section button {
		color: #404041 !important;
	}

	.breadcrumb-section .amount-text {
		font-size: 36px;
		text-align: left;
	}

	.checkout-section .checkout-item {
		text-align: center;
	}
	.checkout-section .total-amount {
		padding: 0px;
		text-align: center;
		&:before {
			display: none;
		}
	}

}

/* ====================================================================================================
4 - media screen and (max-width: 991px) - end
==================================================================================================== */





/* ====================================================================================================
5 - media screen and (max-width: 767px) - start
==================================================================================================== */

@media screen and (max-width: 767px) {

	.small-product .image-container > img {
		width: 100%;
		display: block;
	}
	.small-product .remove-btn {
		z-index: 2;
	}
	.small-product {
		margin: 0px;
		margin-bottom: 30px;
		text-align: center;
		padding-bottom: 20px;
	}
	.small-product .item-content {
		padding: 20px;
	}
	.small-product strong {
		width: 100%;
		display: block;
		text-align: center;
	}

	.header-section {
		padding: 20px 0px;
	}
	.small-product .btns-group > ul > li > a {
		opacity: 1;
	}

	.breadcrumb-section {
		text-align: center;
	}
	.breadcrumb-section .amount-text {
		font-size: 36px;
		text-align: center;
		margin: 20px 0px;
	}

}

/* ====================================================================================================
5 - media screen and (max-width: 767px) - end
==================================================================================================== */





/* ====================================================================================================
6 - media screen and (max-width: 680px) - start
==================================================================================================== */

@media screen and (max-width: 680px) {}

/* ====================================================================================================
6 - media screen and (max-width: 680px) - end
==================================================================================================== */






/* ====================================================================================================
7 - media screen and (max-width: 580px) - start
==================================================================================================== */

@media screen and (max-width: 580px) {

	.section-title .title-text {
		font-size: 20px;
	}

	.header-section .brand-logo > a {
		max-width: 100px;
	}
	.header-section a,
	.header-section button {
		font-size: 16px;
	}
	.container-fluid {
		padding-left: 15px;
		padding-right: 15px;
	}

	.checkout-section .checkout-item h3 {
		min-width: auto;
	}

}

/* ====================================================================================================
7 - media screen and (max-width: 580px) - end
==================================================================================================== */





/* ====================================================================================================
8 - media screen and (max-width: 480px) - start
==================================================================================================== */

@media screen and (max-width: 480px) {

	.header-section {
		padding: 15px 0px;
	}
	.header-section .btns-group > ul > li {
		margin-right: 8px;
	}
	.header-section a, .header-section button {
		font-size: 14px;
	}

	.small-product .btns-group {
		top: 28%;
		right: 15px;
	}

}

/* ====================================================================================================
8 - media screen and (max-width: 480px) - end
==================================================================================================== */





/* ====================================================================================================
9 - media screen and (max-width: 320px) - start
==================================================================================================== */

@media screen and (max-width: 320px) {}

/* ====================================================================================================
9 - media screen and (max-width: 320px) - end
==================================================================================================== */