// default font - start
// ==================================================
$heading-font: 'Cocogoose';
$body-font: 'Nexa NexaBold';
// default font - end
// ==================================================

// default colors - start
// ==================================================
$default-blue: #296E9E;
$default-color: #404041;
$default-black: #404041;
$default-purple: #743492;

$deep-gray: #f0f0f0;
$light-gray: #F1F1F2;
// default colors - end
// ==================================================



// transition - start
// ==================================================
$default-transition: all .3s ease-in-out;
// transition - end
// ==================================================